<div class="container">
    <table>
      <tr>
        <td>Product ID</td>
        <td><input type="number" [(ngModel)]="pid"> </td>
      </tr>
      <tr>
        <td>Product Name</td>
        <td><input type="text" [(ngModel)]="pname"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="number" [(ngModel)]="price"></td>
      </tr>
      <tr>
        <td>Stock</td>
        <td><input type="number" [(ngModel)]="stock"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn-primary" (click)='AddItem()'>Add</button>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h1>table</h1>
    <table class="table table-bordered">
        <tr>
            <th>PID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        <tr *ngFor="let item of productList">
            <td>{{item.pid}}</td>
            <td>{{item.pname}}</td>
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>
        </tr>
    </table>
</div>